
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.sliderprogress .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.sliderprogress::before,
.sliderprogress::after {
    @include white-gradient;
    content: "";
    position: absolute;
    width: 200px;
    z-index: 2;
}
.sliderprogress {
	background: #F2D2D0;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	margin: auto;
	overflow:hidden;
	position: relative;
}
.sliderprogress::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.sliderprogress::before {
    left: 0;
    top: 0;
}


/* Styling the h2 tag by giving color, 
letter spacing, font-size etc.*/
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
}

.progress-bar {
    height: 30px;
    /* border: 1px solid #565656; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgb(245, 159, 0); */
    /* background-color: #fff; */

    border-image-source: linear-gradient(to bottom, #B70AA6, #6825F6) !important;
    border: 1px solid;
    border-image-slice: 1;
}

.percentage {
    display: block;
    height: 100%;
    background: linear-gradient(to bottom, #6825F6, #B70AA6);
    /* border-radius: 10px; */
    animation: progress 3500ms ease-in 3;
}

/* Assigning width of each languages*/
.presale{
    width: 28.6%;
}

.burn {
    width: 57.6%;
}

.liquidity {
    width: 13.8%;
}

/* Animating the progress bar by 
initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}